:root {
    --main-white: #E5E5E5;
    --main-grey: #52534F;
}

body {
    color: var(--main-white);
    font-family: sans-serif;
    background-image: url("images/Backgroundfull.png");
    background-repeat: no-repeat;
    
}

header {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    height: 100px;
}

header ul {
    width: 200px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

header ul li {
    font-size: 25px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}
header ul li:hover, .song-mod:hover{
    text-decoration: underline;
}


.logocontainer {
    width: 6vw;
    height: auto;
    min-width: 50px;
    min-height: auto;
    position: absolute;
    left: 0;
    margin-left: 2vw;
}

.logocontainer img {
    width: 100%;
    height: 100%;;
}

main {
    display: flex;
    justify-content: center;
    width: 78vw;
    margin: auto;
}

.albumcover {
    width: 400px;
    height: 400px;;
}
.spotify img{
    width: 100px;
    height: auto;
}

.releases {
    display: flex;
    flex-direction: row;
}

.rightcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftcolumn {
    margin-right: 40px;
}
.leftcolumn h1 {
    font-size: 45px;
}

.column h3 {
    font-size: 27px;
}

.about {
    width: 50vw;
}

.view, .exitview,.song,.song-mod {
    text-decoration: none;
    background-color: transparent;
    color: var(--main-white);
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: block;
}
.view {
    margin-top: 20px;
}

.exitview, .view {
    margin: 20px 0px 20px 0px;
}

.view:hover, .exitview:hover {
    background-color: white;
    opacity: 0.5;
    color: grey;
}

.lyricscontainer {
    height: 70vh;
    width: 20vw;
    min-width: 300px;
    overflow: scroll;
    overflow-x: hidden;
    border-color: var(--main-white);
}
.song {
    display: block;
    cursor: auto;
}

.opennav{
    display: none!important;
}
@media only screen and (max-width: 700px) {
    .exitview {
        float: right;
    }
    .lyricscontainer {
        height: 70vh;
        width: 90%;
    }
    .albumcover {
        width: 75%;
        height: auto;
        margin: auto;
    }
    header {
        height: 20px;
    }
    .leftcolumn h1 {
        font-size: 25px;
    }
    .leftcolumn ol li button, .leftcolumn ol li {
        font-size: 18px;
    }
    .view, .exitview {
        font-size: 15px;
    }
    header ul li {
        font-size: 20px;
    }
    header ul {
        width: 150px;
    }
    main, .releases {
        flex-direction: column;
    }
    .lyricscontainer {
        margin-top: 20px!important;
    }
    .leftcolumn, .lyricscontainer {
        margin: auto;
    }
    .about {
        margin-top: 20px;
        width: 100%;
        height: 70vh!important;
        overflow-y: scroll;
    }
    .rightcolumn a {
        display: flex;
        justify-content: center;
    }

    .opennav {
        display: block!important;
        background-image: url("images/bars-solid.svg");
        filter: invert(100%) sepia(4%) saturate(1356%) hue-rotate(296deg) brightness(116%) contrast(80%);
        background-color: transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        border: none;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 140px;
        left: 20px;
        z-index: 2;
    }

        /* The side navigation menu */
    .navbaractive{
        height: 100%; /* 100% Full-height */
        width: 0; 
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    
    /* Position and style the close button (top right corner) */
    .navbaractive .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    main {
        transition: margin-left .5s;
        padding: 20px;
    }
  
}
