main {
    width: 100%;
    margin-top: 10vh;
    min-height: 100vh;
    padding-top: 10vh;
}

#nav-all-posts {
    transform: scale(1.7,1.7);
}

.new-post {
    flex-direction: column;
}

.post-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


input[type=radio]{
    display: none;
}

input[type=radio] + label {
    padding: 0.5em;
    border: 2px solid transparent;
    cursor: pointer;
}

input[type=radio]:checked + label {
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.5em;
}

.filter-container {
    margin: auto;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-container p {
    font-size: 18px;
}

.search-field-container, .sort-by-container{
    width: 400px;
    max-width: 90%;
    position: relative;
}

.search-field-container span {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
}

.search-field-container span >* {
    margin: 0px;
}

.reveal-search {
    background-image: url("/icons/arrow\ up.svg");
    transform: rotate(180deg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px;
    cursor: pointer;
}

.reveal-search.active {
    transform: none;
}

.search-field-container input{
    width: 100%;
    outline: none;
    padding: 0.8em;
    position: relative;
    border: 0px;
}

#search-field-phrase {
    border-radius: 10px;
}

#search-field-title {
    border-radius: 10px 10px 10px 10px;
}

.search-field:first-of-type {
    margin-bottom: 1em;
}


.search-field {
    height: 0em;
    overflow: hidden;
    transition: height 0.3s;
}

.search-field button {
    display: none;
}

.search-field.active {
    height: 3em;
    
}

.search-field.active input, .search-field.active button {
    z-index: 16!important;
}

.search-field.active button {
    display: inherit;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.search-field-container button {
    width: 2em;
    height: 2em;
    background-image: url("/icons/search-solid.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0px;
    position: absolute;
    right: 0px;
    filter: invert(71%) sepia(0%) saturate(1533%) hue-rotate(153deg) brightness(97%) contrast(79%);
}

#search-field-phrase-button {
    filter: invert(22%) sepia(97%) saturate(770%) hue-rotate(140deg) brightness(95%) contrast(106%);
}

.search-results a, .search-results-article-container li {
    transform: none;
}

.search-results a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: list-item;
}

.search-results li::marker {
    font-size: 1.5em;
}

.search-results {
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: flex-start!important;
    height: fit-content;
    top: 11em;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
}

.search-results a, .search-results li::marker {
    color:rgb(0, 56, 53);
}


.search-results a:hover {
    text-decoration: underline;
}

.search-results-article-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 17;
    background-color: rgba(0, 0, 0, 0.568);
}

.search-results-article-container li, .search-results-article-container h2 {
    width: 80%;
}


.search-results-article-container ul, .search-results-article-container h2 {
    background-color: rgba(0, 88, 84, 0.788);
    width: 50%;
    margin: 0px;
}

.search-results-article-container h2 {
    padding-bottom: 10vh;
    padding-top: 10vh;
    text-align: center;
}

.search-results-article-container ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    height: 80vh;
}

.search-results-article-container .exit-button {
    position: fixed;
}

.search-results-article-container strong {
    background-color: white;
    color: black;
}

.search-results-article-container p {
    cursor:default;
}

.search-results ol{
   padding: 2em;
}

#search-field-phrase-button {
    cursor: pointer;
}


.search-field-container div {
    display: flex;
    align-items: center;
}

input {
    color: black;
}

h1 {
    margin-bottom: 5vw;
    font-size: 2.7vw;
}

.heading-container {
    width: 80%;
    margin: auto;
}

.date-author {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 1.5vw;
}

p {
    font-size: 1vw;
}

.new-post {
    width: 20vw;
    height: 40vw;
    padding: 1vw;
}

.featured-image-container {
    height: 50%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}



.featured-image-container img {
    width: auto;
    height: 100%;
}

header {
    background-color: rgb(0, 0, 0, 0.2);
}

.view-more {
    width: 80%;
    font-size: 1.5vw;
    height: 2em;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    margin-bottom: 12vh;
    transition: background-color;
    transition-duration: 0.3s;
}
.view-more:hover {
    background-color: rgba(0, 0, 0, 0.418);
}

@media only screen and (max-width: 800px) {

    .new-post {
        width: 43.5vw;
        height: 80vw;
    }
    h2 {
        font-size: 3vw;
    }
    .view-more, .search-field-container h3, label, .sort-by-container p, .search-results a, .search-results li::marker {
        font-size: 4vw
    }
    p {
        font-size: 2vw;
    }
    h1 {
        text-align: center;
        font-size: 7vw;
    }
    .search-results-article-container ul, .search-results-article-container h2 {
        font-size: 8vw;
    }

    .search-results-article-container ul, .search-results-article-container h2 {
        width: 100%;
    }

    .search-results-article-container p {
        font-size: 4vw;
    }

    .filter-container {
        width: 100%;
        align-items: center;
    }
}