#nav-home {
    transform: scale(1.7,1.7);
}

section, main{
    height: 100vh;
}

main {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
}

h2 {
    font-size: 2vw;
}



section {
    width: 100%;
    scroll-snap-align: start;
}

.front-page {
    background-color: black;
    background-image: url("/images/pexels-irina-iriser-1366957.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    display: flex;
    flex-direction: column;
}

.front-page div {
    height: 50px;
    overflow: hidden;
}

.front-page p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin: 0px;
    position: relative;
}


.front-page p{
    animation-duration: 2s, 2s;
    animation-delay: 0s, 4s;
    animation-name: up-below, fade-out;
}

@keyframes up-below{
    0%{bottom: -50px;}
    100%{bottom: 0px;}
}

@keyframes fade-out{
    0%{opacity: 1}
    100%{opacity: 0;}
}


.common-background, .front-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 80%;
}
/**/
.container > div {
    display: flex;
    align-items: center;
}
/*Featured Post styling*/

.featured-post {
    width: 100%;
    min-height: 30vh;
    max-height: 6vw;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

@keyframes up-and-down{
    0%{bottom: -10vh;}
    50%{bottom: 10vh;}
    100%{bottom: -10vh;}
}

.featured-post img {
    width: 100%;
    height: auto;
    position: relative;
    animation-name: up-and-down;
    animation-duration: 11s;
   animation-iteration-count: infinite;
}

.featured-post h2 {
    margin: 0px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 2.5vw;
    width: 100%;
    background-color: rgb(51, 51, 51, 0.5);
}

.featured-post span {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(51, 51, 51, 0.5);
    display: flex;
    align-items: center;
} 

.featured-post span h3 {
    margin-right: 10px;
}

.featured-post span div {
   background-image: url("/icons/Icon\ ionic-ios-star.svg");
   background-size: 100%;
   background-repeat: no-repeat;
   background-color: transparent;
   filter: invert(71%) sepia(50%) saturate(2007%) hue-rotate(1deg) brightness(108%) contrast(103%);
   height: 2vw;
   width: 2vw;
   min-width: 25px;
   min-height: 25px;
   margin: 0px 10px 0px 10px;
}


/*image reel styling____________________________________________*/

.image-reel {
    width: 100%;
    height: 15vw;
    min-height: 100px;
    padding: 0px 10px 0px 10px;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    scroll-snap-type: x mandatory;
    scroll-snap-points-x: repeat(80vw);
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.image-reel::-webkit-scrollbar {
    display: none;
}

.image-group {
    height: 100%;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
}

.image-container {
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    height: 85%;
    width: 17vw;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px #333333;
    cursor: pointer; 
    position:relative;
}
.image-container h3 {
    font-size: 1.5vw;
    padding-top: 40%;
    text-align:center;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    transition: 0.2s background-color;
}

.image-container:hover {
    transform: scale(1.1, 1.1)
}

.image-container:hover h3 {
    background-color: rgb(0, 0, 0, 0.0);
}

.image-container img {
    height: 100%;
    width: auto;
    
}



@media only screen and (max-width: 800px) {
    h2 {
        font-size: 25px;
    }

    .front-page p {
        font-size: 6vw;
    }
    .front-page div {
        margin-bottom: 7vh;
    }
    .heading-latest {
        font-size: 18px;
        margin-left: 12vw;
        margin-bottom: 0px;
        margin-top: 7vh;
    }
   
    .featured-post h2 {
        font-size: 23px;
    }
    .featured-post img {
        animation: none;
    }


    h3 {
        font-size: 2.8vw!important;
    }

    .front-page {
        background-size: 350%;
    }
    .image-reel {
        width: 100%;
        height: 80vw;
    }
    
    .image-group {
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container {
        width: 98%;
        justify-content: flex-start;
    }

    .image-container {
        height: 41%;
        width: 41%;
    }
    .image-container h3 {
        padding-top: 65%;
        height: 50%;
        width: 100%;
        background-color: transparent;
        background-image: linear-gradient(transparent, black);
        position: absolute;
    }
    #link-to-all a{
        height: 90%;
        width: 90%;
        
    }
    #link-to-all a h3 {
        padding-top: 55%;
        font-size: 10vw;
    }
}