#nav-all-posts {
    transform: scale(1.7,1.7);
}

.featured-image-container {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-image-container img {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    margin-top: 10vh;
    min-height: 100vh;
}

footer {
    background-color: black;
}

header {
    background-color: rgb(0, 0, 0, 0.2);
}

.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.content > div {
    width: 50%;
}

h1 {
    font-size: 2.5vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.date-author {
    display: flex;
    justify-content: space-between;
}

.date-author p {
    font-size: 15px;
    color: rgb(211, 211, 211);
}

article {
    margin-bottom: 20vh;
    /*background-color: rgb(0, 0, 0, 0.2);*/
    padding: 10px
}

figure {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    cursor:zoom-in;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure img{
    width: 100%;
    height: auto;
}

picture, .audio-container {
    margin: 3vh 0vh 3vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-container{
    margin: 10vh 0vh 10vh 0vh;
}

figcaption {
    margin-top: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(224, 224, 224);
}

audio {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 5vw;
    }
    .content > div {
        width: 90%;
    }
    .featured-image-container img {
        width: auto;
        height: 100%;
    }

    figure img{
        width: 100vw;
    }
}