@import url("global.css");

header {
    height: 10vh;
}

#nav-home {
    transform: none;
}

#nav-releases {
    transform: scale(1.7, 1.7);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.open-media-player, .open-media-player button {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.open-media-player button {
    background-color: transparent;
    font-size: 30px;
    border: 0px;
    cursor: pointer;
}

.sound-icon {
    background-image: url("/icons/Icon\ open-audio-spectrum.svg");
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: none;
    margin-left: 5vw;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(101%) contrast(103%);

}

#media-player {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.8);
    width: 100vw;
    height: 0vh;
    z-index: 15;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.media-player-container-active {
    height: 100vh!important;
}


.audio-container {
    display: flex;
    flex-direction: column;
}

.audio-container h3 {
    font-size: 25px;
}

.audio-container button {
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    border: 0px;
    margin-bottom: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.audio-container button:hover {
    background-color: rgba(59, 59, 59, 0.8);
}

.audio-container button li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.media-player-container-inner {
    width: 80%!important;
    max-width: 500px;
    height: 100%;
    position: relative;
    top: 10vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#media-player h2 {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 0px;
    background-color: black;
    z-index: 15;
    padding: 3vh 0px 3vh 0px;
    margin: 0px;
}



#play-icon {
    background-image: url("/icons/media\ player/Icon play-circle.svg");
    height: 3vh;
    width: 3vh;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(101%) contrast(103%);
}

.play-icon-active {
    background-image: url("/icons/media\ player/Icon ionic-ios-pause.svg")!important;
}

#exit-media-player {
    position: absolute;
    right: 0px;
    z-index: 16;
}

audio {
    z-index: 15;
    width: 100%;
    background-color: black;

    
}
audio::-webkit-media-controls-panel, audio::-webkit-media-controls-timeline-container {
    background-color: black;
}
audio::-webkit-media-controls-timeline-container, audio::-webkit-media-controls-play-button, 
audio::-webkit-media-controls-time-remaining-display, audio::-webkit-media-controls-mute-button, audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-volume-slider {
    filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(59deg) brightness(103%) contrast(106%);
}

.media-player-container-inner::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.3);
}



/*Album info and lyrics-----------------------------------------------*/




.album-info-container {
    display: flex;
    justify-content: center;
}

.album-cover {
    height: auto;
    width: 50%;
    max-width: 500px;
    
}

.album-cover img  {
    width: 100%;
}

.song-listing li  {
    display: list-item;
    cursor: pointer;
}

.song-listing li:hover {
    transform: scale(1.2, 1.2) translateX(1vw);
}

.song-listing {
    display: flex;
    flex-direction: column;
}

.song-listing h2 {
    text-align: center;
    margin-top: 0px;
}



.lyrics-container {
    height: 50%;
    width: 70vw;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 12;
}

.lyrics-container iframe{
    width: 100%;
    background-color: white;
}


#exit-lyrics {
    filter: none;
    min-width: 15px;
    min-height: 15px;
    max-width: 40px;
    max-height: 40px;
}


@media only screen and (max-width: 800px) {
    .album-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .audio-container h3 {
        font-size: 25px!important;
    }

    .audio-container button li {
        font-size: 16px!important;
    }
    audio {
        margin-bottom: 5vh;
    }
    
}