header {
    height: 10vh;
}

section {
    flex-direction: column;
}

section div:first-of-type {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.album-content {
    width: 100%;
}

.album-cover {
    height: auto;
    width: 100%;
    
}

.album-cover img  {
    width: 100%;
}

.song-listing li  {
    display: list-item;
    cursor: pointer;
}

.song-listing li:hover {
    transform: scale(1.2, 1.2) translateX(1vw);
}

.song-listing {
    display: flex;
    flex-direction: column;
}

.song-listing h2 {
    text-align: center;
    margin-top: 0px;
}

.button-nav {
    position: absolute;
    bottom: 0px;
}

.lyrics-container {
    height: 100%;
    width: 50vw;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.lyrics-container iframe{
    width: 100%;
    background-color: white;
    
}

@media only screen and (max-width: 600px) {
    section div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    
}